@font-face {
    font-family: 'retroGaming';
    src: url('../font/RetroGaming.ttf') format('truetype');
  }

body {
    background-image: url('../img/6235598.jpg');
    background-size: cover;
    margin: 0;
    padding: 0;
    height: 100vh;
    /* overflow: hidden; */
}
#titulo{
    color: #9900ff;
    font-family: 'retroGaming';
    font-size: 2.2em;
    font-weight: bolder;
    letter-spacing: 0.3em;
    text-shadow: -1px -1px 0 rgb(255, 196, 0),  
    1px -1px 0 rgb(255, 196, 0),  
    -1px 1px 0 rgb(255, 196, 0),  
    1px 1px 0 rgb(255, 196, 0);

}
@media (max-width: 600px) { 
    #titulo {
        font-size: 1em; 
        margin: 0;
    }
}


.navbar {
    color: transparent;
    border-bottom: 5px solid rgb(255, 196, 0);
    border-top: 5px solid rgb(255, 196, 0);
    position: relative; 
    animation: cambio-color 10s infinite alternate; 
}

@keyframes cambio-color {
    0% {
        border-color: rgb(255, 196, 0);
    }
    10% {
        border-color: #9900ff; 
    }
    50% {
        border-color: rgb(255, 196, 0);
    }
    60% {
        border-color: #9900ff; 
    }
    100% {
        border-color: rgb(255, 196, 0); /
    }
}

.navbar-toggler {
    background-color: aliceblue;
    display: none;
}


@media (max-width: 768px) {
    .navbar-brand {
        display: none;
    }

    .navbar-toggler {
        display: block;
    }
    #formularioUser{
        
        max-width: 70%;
        margin-left: 15%;
       
    }
}
#opciones{
    font-family: 'retroGaming';
    text-shadow: -1px -1px 0 rgb(255, 255, 255),  
    1px -1px 0 rgb(255, 255, 255),  
    -1px 1px 0 rgb(255, 255, 255),  
    1px 1px 0 rgb(255, 255, 255);
}
.dropdown-menu{
    background-color: #9900ff;
}
.boton button a{
    text-decoration: none;
}

.gif-button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    margin: 0;
    
}
#gifInicio{
    width: 300px;
    height: auto;
}
#gif{
    position: relative;
    margin-top: 10vh;
    max-width: 30%;
    margin-left: 35%;
}
.botonJugar {
    
    align-items: center;
    cursor: pointer;
    color: #909090 !important;
    font-size: 20px;
    font-family: 'retroGaming';
    font-weight: 500;
    padding: 0.5em 1.2em;
    background: #9900ff;
    
    border: 2px solid #318aac;
    border-radius: 25px;
    outline: 1px solid;
    outline-color: rgba(255, 255, 255, 0.4);
    transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
  }
  .botonJugar:hover {
    box-shadow: inset 0 0 20px rgba(115, 0, 169, 0.5), 0 0 20px rgba(1, 98, 136, 0.4);
    outline-color: rgba(253, 253, 253, 0);
    outline-offset: 80px;
    text-shadow: 1px 1px 6px #000000; 
  }
  .botonModal{
    align-items: center;
    cursor: pointer;
    color: #909090 !important;
    font-size: 12px;
    font-family: 'retroGaming';
    font-weight: 500;
    padding: 0.5em 1.2em;
    background: #9900ff;
    
    border: 2px solid #318aac;
    border-radius: 25px;
    outline: 1px solid;
    outline-color: rgba(255, 255, 255, 0.4);
    transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
  }
  .botonModal:hover {
    box-shadow: inset 0 0 20px rgba(115, 0, 169, 0.5), 0 0 20px rgba(1, 98, 136, 0.4);
    outline-color: rgba(253, 253, 253, 0);
    outline-offset: 80px;
    text-shadow: 1px 1px 6px #000000; 
  }

  .botonComenzar {
    top: 0px;
    margin-top: 1em;
    cursor: pointer;
    color: #909090 !important;
    font-size: 20px;
    font-family: 'retroGaming';
    font-weight: 500;
    padding: 0.5em 1.2em;
    background: #9900ff;
    position: relative;
    border: 2px solid #318aac;
    border-radius: 25px;
    outline: 1px solid;
    outline-color: rgba(255, 255, 255, 0.4);
    transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
  }
  .botonComenzar:hover {
    box-shadow: inset 0 0 20px rgba(115, 0, 169, 0.5), 0 0 20px rgba(1, 98, 136, 0.4);
    outline-color: rgba(253, 253, 253, 0);
    outline-offset: 80px;
    text-shadow: 1px 1px 6px #000000; 
  }

  .buttonFunction{
    top: 0px;
    margin-top: 1em;
    cursor: pointer;
    color: #909090 !important;
    font-size: 16px;
    font-family: 'retroGaming';
    font-weight: 500;
    padding: 0.5em 1.2em;
    background: #9900ff;
    position: relative;
    border: 2px solid #318aac;
    border-radius: 25px;
    outline: 1px solid;
    outline-color: rgba(255, 255, 255, 0.4);
    transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
    margin-bottom: 2px;
  }
  .buttonFunction:hover{
    box-shadow: inset 0 0 20px rgba(115, 0, 169, 0.5), 0 0 20px rgba(1, 98, 136, 0.4);
    outline-color: rgba(253, 253, 253, 0);
    outline-offset: 80px;
    text-shadow: 1px 1px 6px #000000; 
  }


  #formularioUser{
    display: flex;
    max-width: 50%;
    height: auto;
    margin-left: 25%;
    border: 3px outset yellow;
    margin-top: 2em;
    padding: 1em;
    align-items: center;
}
a{
    text-decoration: none;
}
#labelUsuario{
    
    font-family: 'retroGaming';
    background-color: transparent;
}
#labelDificultad{
    font-family: 'retroGaming';
}
#dificultad option {
    font-family: 'retroGaming';
}
#usuario{
    font-family: 'retroGaming';
    font-size: 1.5em;
    text-align: center;
}
#colorSelection{
    position: relative;
    /* left: -30px; */
    align-items: center;
}
#colorOptions input{
    border-radius: 50%;
}

@media (max-width: 768px) {
    
    #formularioUser{
        
        max-width: 95%;
        margin-left: 2.5%;
       
    }
    #colorOptions {
    max-width: 60%;
    margin-left: 20%;
}
#labelUsuario{
    display: none;
}
}
#masterMind{
    background-color: rgba(240, 255, 255, 0.522);
}
#coloresElegidos{
    display: flex;
    max-width: 100%;
    height: auto;
    justify-content: center;
    margin-bottom: 2em;

}
#coloresElegidos .color-box:hover{
    border: 3px white solid;
}

.color-box{
    z-index: 1;
    border: 2px solid rgb(0, 0, 0);
    width: 30px;
    height: 30px;
    margin: 3px;
    border-radius: 50%;
}
#coloresElegidos .color-box{
    z-index: 1;
    border: 2px solid rgb(0, 0, 0);
    width: 50px;
    height: 50px;
    margin: 3px;
    border-radius: 50%;
}
#saludo{
    font-family: 'retroGaming';
    text-align: center;
    font-size: 1.5em;
}
#mensajeDificultad{
    font-family: 'retroGaming';
    text-align: center;
    text-transform: uppercase;
}
.tablero{
    justify-content: center;
    align-items: center;
}
.modal-dialog{
    
    border: 3px outset yellow;
}
.modal-content{
    background-color: rgba(184, 183, 183, 0.946);
}
#hasGanadoModalLabel{
    font-family: 'retroGaming';
    text-align: center;
    font-size: 1.5em;
}
.fallos{
    border: 6px solid black;
}
.coincidencia,.acertado{
    text-align: center;
    font-weight: bold;
}
.ayuda{
    color: white;
    background-color: #909090bf;
    border: yellow;
    justify-content: center;
}
.ayuda h1{
    text-align: center;
    text-transform: uppercase;
    font-family: 'retroGaming';
    color: #480079;
}

.ayuda .row div {
    border: 1px solid #ccc; 
    padding: 20px; 
  }
  

  .ayuda .row div {
    display: flex; 
    justify-content: center;
    align-items: center; 
    text-align: center; 
  }


footer{
    top: -100px;
    color: transparent;
    border-bottom: 5px solid rgb(255, 196, 0);
    border-top: 5px solid rgb(255, 196, 0);
    position: relative;
    
    color: rgb(255, 196, 0);
    animation: cambio-color 10s infinite alternate;
}

